body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    margin-bottom: 50px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.name {
    color: skyblue;
}

button {
    color: red;
}

.flexible-container {
    display: flex;
}

.half {
    width: 50%;
    padding: 2%;
}

.half img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.experience-container {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 2%;
    border-left: 7px solid blue;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}